<nav class="sidebar">
    <div class="sidebar-header">
        <h4><i class="bi {{ djangobase.logo_icon }}"></i> {{ djangobase.titel }}</h4>
        {% if djangobase.version %}<div class="sidebar-user">
            <span class="sidebar-user-name"><i class="bi bi-tag"></i> Version {{ djangobase.version }}</span>
        </div>{% endif %}
    </div>
    <ul class="nav flex-column">
        {% comment %}WICHTIG: Untermenü-Schlüssel heißt "untermenu" (NICHT "items"),
        da it.items in Django-Templates auf die dict.items-Methode auflöst und
        damit immer truthy wäre -> jeder Punkt würde fälschlich aufklappbar.{% endcomment %}
        {% for it in djangobase.menu %}
            {% if it.untermenu %}
            <li class="nav-item">
                <a class="nav-link menu-toggle" data-bs-toggle="collapse" href="#m{{ forloop.counter }}">
                    <i class="bi {{ it.icon }}"></i> {{ it.label }}
                    <i class="bi bi-chevron-down float-end"></i>
                </a>
                <div class="collapse" id="m{{ forloop.counter }}">
                    <ul class="nav flex-column submenu">
                        {% comment %}Dritte Ebene: hat ein Untermenu-Eintrag selbst
                        ein "untermenu", wird er zu einer weiteren aufklappbaren
                        Gruppe. Eintraege OHNE eigenes untermenu fallen in den
                        {% templatetag openblock %} else {% templatetag closeblock %}-Zweig und werden exakt wie bisher
                        gerendert -> voll rueckwaertskompatibel.{% endcomment %}
                        {% for s in it.untermenu %}
                            {% if s.untermenu %}
                            <li class="nav-item">
                                <a class="nav-link menu-toggle" data-bs-toggle="collapse" href="#m{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
                                    <i class="bi {{ s.icon }}"></i> {{ s.label }}
                                    <i class="bi bi-chevron-down float-end"></i>
                                </a>
                                <div class="collapse" id="m{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
                                    <ul class="nav flex-column submenu">
                                        {% for t in s.untermenu %}
                                        <li><a class="nav-link" href="{{ t.url }}"><i class="bi {{ t.icon }}"></i> {{ t.label }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                            {% else %}
                            <li><a class="nav-link" href="{{ s.url }}"><i class="bi {{ s.icon }}"></i> {{ s.label }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{{ it.url }}"><i class="bi {{ it.icon }}"></i> {{ it.label }}</a></li>
            {% endif %}
        {% endfor %}

        {% include "djangobase/_nav.html" %}
    </ul>
</nav>
